[submodule "subprojects/cppdict"]
	path = subprojects/cppdict
	url = https://github.com/nicolasaunai/cppdict
[submodule "subprojects/pharedo"]
	path = subprojects/pharedo
	url = https://github.com/PHAREHUB/pharedo.git
[submodule "subprojects/highfive"]
	path = subprojects/highfive
	url = https://github.com/BlueBrain/HighFive
