[submodule "subprojects/pharein"]
    path = subprojects/pharein
    url = https://github.com/PHAREHUB/pharein

[submodule "subprojects/cppdict"]
    path = subprojects/cppdict
    url = https://github.com/nicolasaunai/cppdict
[submodule "cppdict"]
	path = subprojects/cppdict
	url = https://github.com/nicolasaunai/cppdict
