bin
build
subprojects
__pycache__
*.pyc
*checkpoint.ipynb*
Testing
.idea
*.png
*.jpg
data_out
.sublime*
compile_commands.json
.clangd
phare_outputs*
CMakeLists.txt.user
.log
.cmake.*
perf.data
tools/bench/functional/generated
