bin
build
subprojects
__pycache__
*.pyc
*checkpoint.ipynb*
Testing
.idea
*.png
*.jpg
data_out
.sublime*
compile_commands.json
phare_outputs*
CMakeLists.txt.user
tools/cmake.sh
perf.*
**/*.h5
PHARE_REPORT.zip
.*
