bin
build
subprojects
__pycache__
*.pyc
*checkpoint.ipynb*
Testing
.idea
*.png
*.jpg
data_out
.sublime*
compile_commands.json
.clangd
phare_outputs*
CMakeLists.txt.user
.log
tools/cmake.sh
.cmake.*
perf.*
**/*.h5
.vscode
.phare*
PHARE_REPORT.zip
