pandas
appdirs
requests
urllib3>=1.26.0
packaging
numpy
python_dateutil
tqdm
matplotlib
PyYAML
sphinx<8.2.0  # this version breaks nbsphinx
sphinx-rtd-theme
argh
numpydoc
sphinx-gallery  < 0.11.0
nbsphinx
ipympl
ipywidgets
sphinx-codeautolink
sphinxcontrib-apidoc
