name: CMake Ubuntu

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    container: ghcr.io/pharchive/phare_dep/ubuntu:24.04
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        cc: [gcc, clang]

    steps:
    - name: Build Info
      run: |
        uname -a
        gcc -v
        clang -v

    - name: CCache
      id: cache
      uses: actions/cache@v4
      with:
        path: ~/.ccache
        key: ${{ runner.os }}-ccache-${{ hashFiles('hashFile.txt') }}
        restore-keys: ${{ runner.os }}-ccache-

    - name: Clone PHARE
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Ensure ccache uses ~/.ccache
      run: |
          mkdir -p ~/.ccache
          ccache --set-config=cache_dir=~/.ccache
          ccache --get-config=cache_dir

    - name: Configure CMake
      run: |
        set -ex
        export CC=gcc CXX=g++
        [ "${{ matrix.cc }}" = "clang" ] && export CC=clang CXX=clang++
        . /.venv/bin/activate;
        mkdir -p build && cd build
        cmake .. -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON --fresh \
              -DSAMRAI_ROOT=/usr/local \
              -DCMAKE_BUILD_TYPE=Debug -Dasan=OFF \
              -DCMAKE_C_COMPILER_LAUNCHER=ccache \
              -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
              -DlowResourceTests=ON -DdevMode=ON -Dbench=ON \
              -DCMAKE_CXX_FLAGS="-O3 -DPHARE_DIAG_DOUBLES=1" -Dphare_configurator=ON

    - name: Build
      working-directory: ${{github.workspace}}/build
      run: . /.venv/bin/activate; cmake --build . -j 2

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: . /.venv/bin/activate; ctest -j 2 --output-on-failure
