name: CMake MacOS

# if issues with libquadmath appear again, see previous version:
#  https://github.com/PHAREHUB/PHARE/blob/61ad57b285e875b396ecf8957e0579427ad6be30/.github/workflows/cmake_macos.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-13, macos-14, macos-latest]

    steps:
    - name: Build Info
      run: |
        uname -a
        gcc -v
        clang -v

    - name: CCache
      id: cache
      uses: actions/cache@v4
      with:
        path: ~/.ccache
        key: ${{ runner.os }}-ccache-${{ hashFiles('hashFile.txt') }}
        restore-keys: ${{ runner.os }}-ccache-

    - name: Cache PIP (OSX)
      uses: actions/cache@v4
      with:
        path: ~/Library/Caches/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Clone PHARE
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - uses: actions/setup-python@v4
      with:
        python-version: '3.12.3'

    - name: Install system deps (openmpi, hdf5, ccache,...)
      run: |
        brew reinstall gcc
        brew install open-mpi hdf5-mpi ccache
        echo "/usr/local/opt/ccache/libexec" >> $GITHUB_PATH

    - name: Ensure ccache uses ~/.ccache
      run: |
          mkdir -p ~/.ccache
          ccache --set-config=cache_dir=~/.ccache
          ccache --get-config=cache_dir

    - name: Install python deps
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      working-directory: ${{runner.workspace}}/build
      run: |
        cmake $GITHUB_WORKSPACE -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON \
              -DCMAKE_BUILD_TYPE=RelWithDebInfo \
              -DENABLE_SAMRAI_TESTS=OFF -DCMAKE_C_COMPILER_LAUNCHER=ccache \
              -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DlowResourceTests=ON \
              -DCMAKE_CXX_FLAGS="-DPHARE_DIAG_DOUBLES=1 "

    - name: Build
      working-directory: ${{runner.workspace}}/build
      run: cmake --build . -j 2

    - name: Test
      working-directory: ${{runner.workspace}}/build
      run: ctest -j 2 --output-on-failure

